<div class="jumbotron">
    <h1 style="text-align: center;">Book Trade Club</h1>
    <p style="text-align: center;">Sign in and Trade Books!</p>
</div>

<div class="row"><div class="col-lg-12"><h1 class="page-header">Features:</h1><ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"><li><a href="#" tooltip="" class="ng-scope">Catalogue your books online</a></li></ul><ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"><li><a href="#" tooltip="" class="ng-scope">See all of the books our users own</a></li></ul><ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"><li><a href="#" tooltip="" class="ng-scope">Request to borrow other users' books</a></li></ul><ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"><li><a href="#" tooltip="" class="ng-scope">Easily manage books and requests from your dashboard</a></li></ul></div></div>
